body {
	background-color: #333;
	padding: 0;
    margin: 0;
}


#InGameOptions {
	position: fixed;
    height: 90px;
    width: 100%;
    background: #993300;
    bottom: 0;
}

#InGameOptions button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding: 6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
#InGameOptions button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
#InGameOptions button:active {
	position:relative;
	top:1px;
}

/*==============================================================*/
a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  /*left: 50px;*/
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
	border-top-right-radius: 40px ;
	border-bottom-right-radius: 40px ;
	position: absolute;
	width: 300px;
	margin: 0 0 0 0px;
    padding: 20px;
  /*padding-top: 125px;*/
	background: #ededed;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
/*==============================================================*/
#MainMenu {
	display: inline;
}

#MainGame {
	display: none;
	color: white;
}

#MainGame img{
	float: right;
	width: 50px;
}


button.start,button.load,button.options,button.save{
	width: 100%;
	height: 53px;
	box-shadow: rgb(28, 27, 24) 0px 1px 0px 0px; 
	background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194); 
	border-radius: 10px; 
	border: 1px solid rgb(51, 48, 41); 
	display: inline-block; 
	cursor: pointer; 
	color: rgb(80, 87, 57); 
	font-family: Arial; 
	font-size: 15px; 
	font-weight: bold; 
	text-decoration: none; 
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	
}
/*
button.options{
	width: 100%;
	height: 53px;
	box-shadow: rgb(28, 27, 24) 0px 1px 0px 0px; 
	background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194); 
	border-radius: 10px; 
	border: 1px solid rgb(51, 48, 41); 
	display: inline-block; 
	cursor: pointer; 
	color: rgb(80, 87, 57); 
	font-family: Arial; 
	font-size: 15px; 
	font-weight: bold; 
	text-decoration: none; 
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	
}

button.load{
	width: 100%;
	height: 53px;
	box-shadow: rgb(28, 27, 24) 0px 1px 0px 0px; 
	background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194); 
	border-radius: 10px; 
	border: 1px solid rgb(51, 48, 41); 
	display: inline-block; 
	cursor: pointer; 
	color: rgb(80, 87, 57); 
	font-family: Arial; 
	font-size: 15px; 
	font-weight: bold; 
	text-decoration: none; 
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}*/
